:root {
    --nav-height: 40px;
}

.navbar {
    height: var(--nav-height);
    padding: 0 1rem;
    display: flex;
    align-items: center;
    overflow: hidden;
    gap: 1rem;

    background-color: #202020;
    border-bottom: 1px solid #808080;
}

.nav-outlet {
    height: calc(100% - var(--nav-height));
}
