#account-page {
    display: flex;
    flex-direction: column;
}

#account-page h1 {
    padding: 0.5rem;
    font-size: 1.5em;
    border-bottom: 1px solid #808080;
}

#account-page h2 {
    margin-bottom: 0.5rem;
}

.account-settings-container {
    padding: 0.5rem;
    border-bottom: 1px solid #808080;
}
.account-settings-container:last-child {
    border: none;
}

.account-settings-container > form {
    max-width: 400px;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.account-settings-container > div > * {
    padding: 0 0.5rem;
}
.account-settings-container > div > h2 {
    padding: 0;
}
.account-settings-container > div > ul {
    padding: 0.5rem 2rem;
}

.account-page-data {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.account-page-data > input {
    padding-bottom: 0.5rem;
    font-size: 1rem;
    color: #ffffff;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #008b8b;
}

.account-page-data > input:disabled {
    border-bottom: 1px solid #000000;
}

.account-settings-button-container {
    display: flex;
    justify-content: space-between;
}

.account-settings-button {
    min-width: 100px;
    padding: 0.5rem;
    color: #808080;
    background-color: #202020;
    border: 1px solid #808080;
}
.account-settings-button:hover {
    color: #dddddd;
}
.account-settings-button-red:hover {
    color: #ffffff;
}

#account-settings-delete-button-container {
    width: 400px;
    margin-top: 1rem;
}

#account-settings-save-error {
    color: #b60808;
    text-align: center;
}

#account-settings-delete-error {
    margin-top: 1rem;
    color: #b60808;
}
