.login-panel {
    width: 400px;
    position: absolute;
    top: calc(50% - 200px);
    left: calc(50% - 200px);

    overflow: hidden;

    background-color: #00000090;
    border: 1px solid #808080;
}

.login-panel h1 {
    text-align: center;
    padding: 10px;
    background-color: #00000060;
    border-bottom: 1px solid #808080;
}

.login-panel form {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    gap: 1rem;
}

.login-panel form input {
    height: 2.5rem;
    padding: 0 1em;
    overflow: hidden;

    outline: none;
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #808080;
}

#password-input {
    display: flex;
    align-items: stretch;
    overflow: hidden;
}

#password-input input {
    flex: 1;
    border-right: none;
}

#password-input button {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #808080;
}

#password-input button img {
    width: 75%;
    height: 75%;
    filter: invert(40%);
}
#password-input button:hover img {
    filter: invert(80%);
}

#login-button {
    height: 2.5rem;
    width: 40%;
    margin: auto;
    outline: none;

    background-color: transparent;
    color: #808080;
    border: 1px solid #808080;
}
#login-button:hover {
    color: #dddddd;
}
#login-button:active {
    color: #ffffff;
}

.password-error {
    color: #8b0000;
    text-align: center;
}
