#search-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#search-page-mid {
    height: 100%;
    min-width: 600px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#search-page-search-bar {
    width: 100%;
}

#search-page-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: auto;
}
#search-page-container::-webkit-scrollbar {
    display: none;
}

#search-page-container > p:first-child {
    padding: 0.5rem;
    text-align: center;
}

#search-page-filer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search-page-filter-header {
    width: 100%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #808080;
}

.search-page-filter-header > input {
    padding: 0.5rem;
    color: #ffffff;
    background-color: transparent;
    outline: none;
    border: 1px solid #808080;
}

.search-page-filter-header-options {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.search-page-filter-header-options > button,
#search-page-filter-reset {
    height: 35px;
    padding: 0 0.5rem;
    color: #808080;
    background-color: transparent;
    outline: none;
    border: 1px solid #808080;
}

.search-page-filter-header-options > button:hover,
#search-page-filter-reset:hover {
    color: #dddddd;
}

.search-page-filter-header-options > button.selected,
#search-page-filter-reset:active {
    color: #ffffff;
}

.search-page-filter-not-found {
    height: 100%;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #808080;
}

.search-page-filter-option-container {
    height: 100%;
    max-height: 200px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.search-page-filter-option-container::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border-left: 1px solid #808080;
}
.search-page-filter-option-container::-webkit-scrollbar-track {
    background: transparent;
}
.search-page-filter-option-container::-webkit-scrollbar-thumb {
    background: #666666;
}

.search-page-filter-option-container > button {
    min-height: 35px;
    padding: 0 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    color: #808080;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #808080;
}
.search-page-filter-option-container > button:last-child {
    border: none;
}

.search-page-filter-option-container > button:hover {
    color: #dddddd;
}
.search-page-filter-option-container > button.selected {
    color: #ffffff;
}

.search-page-filter-option-container > button > p {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-page-filter-option-container > button > p:nth-child(1) {
    width: 100%;
    padding: 0 0.5rem;
    justify-content: left;
}

.search-page-filter-option-container > button > p:nth-child(2) {
    aspect-ratio: 1 / 1;
    height: 70%;
    font-size: 1.2em;
    font-weight: bold;
}

#search-page-tag-filter-container {
    width: 300px;
    display: flex;
    flex-direction: column;
}

#search-page-label-button-container {
    margin-top: 0.5rem;
}

#search-page-label-text {
    margin-top: 0.5rem;
    text-align: center;
    font-size: 0.8em;
    color: #808080;
}

#search-page-group-select-container {
    width: 140px;
}

#search-page-date-filter-container {
    width: 300px;
}

#search-page-date-button-container {
    margin-bottom: 0.5rem;
}

#search-page-date-input-container {
    display: flex;
    justify-content: space-between;
}

#search-page-date-input-container > input {
    width: 40%;
}

.search-page-year-input {
    padding: 0.5rem;
    color: #ffffff;
    background-color: transparent;
    outline: none;
    border: 1px solid #808080;
    -moz-appearance: textfield;
    appearance: textfield;
}
.search-page-year-input::-webkit-inner-spin-button,
.search-page-year-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

#search-page-date-input-container > span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #808080;
}
