# MongoDB properties
spring.data.mongodb.uri=
spring.data.mongodb.database=

# LDAP properties
spring.ldap.urls=
spring.ldap.username=
spring.ldap.password=
spring.ldap.base=

# Allowed max API request and file size
spring.servlet.multipart.max-file-size=
spring.servlet.multipart.max-request-size=

# Document deletion schedule properties
document.deletion.time=
document.deletion.schedule=

# JWT token secret
jwt.secret.key=

# Allowed CORS Origins
cors.origins=